# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Distribution / packaging
.Python
env/
venv/
pip-wheel-metadata/
dist/
build/
*.egg

# Editors / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Temporary files
*.tmp
*.swp
*~

# Virtual environments
.env